body {
  margin: 0;
  font-family: "Avenir Next";
}

a {
  text-decoration: none;
}

li{
  list-style:none;
}

.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  height: 500px;
}

header{
  position: relative;
  left: 0;
  top:0;
  width: 100%;
  height: 100px;
  background: #fff;
  border-bottom: 1px solid #eee;

}

.logoTitleAndDescription {
  position:relative;
  float:left;
  height: 100%;
  width:auto;
}

.logoTitle{
  position:relative;
  float: left;
  margin: 16px 0 8px;
}

.logoTitle a{
  font-size: 22px;
}

.discription{
  position: relative;
  float:left;
  font-size: 13px;
}

.menu ul{
  position: relative;
  float: left;
  list-style-type:none;
}

.menu ul li{
  position: relative;
  float:left;
  margin-left: 32px;
}


.menu ul li a{
  font-family:'Montserrat', Helvetica, Arial, sans-serif ;
  font-weight: 400;
  font-size: .75rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #111111;
  -webkit-font-smoothing: subpixel-antialiased;
}

.menu ul li a:hover {
  border-bottom: 2px solid #34ADCF;
  padding-bottom: 3px;
  color: #34ADCF;
}

.top-wrapper{
  position:relative;
  padding: 10px 0px, 100px, 0px;
  background-image: url(top.jpeg);
  color: white;
  background-size: cover;
  text-align:center;
  min-width: 1170px;
}

.top-wrapper h1{
  padding-top: 100px;
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity:0.7;
}

.btn {
  position: relative;
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.7;
  border-radius: 24px;
  line-height: 35px;
}

.btn:hover{
  opacity:1 ;
}


.facebook{
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter{
  background-color: #55acee;
}

.btn-wrapper {
  position:relative;
  margin: 20px 0;
}
.btn-wrapper p{
  margin: 10px 0;
}

.btn-wrapper a{
  position:relative;
}

.fa{
  margin-right:5px;
}

